*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-bg{
  background: #2D25A0;
  width: 100%;
}
.nav-link{
  color: white;
}
.container{
  margin-bottom: 100px;
}
.card {
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 20px gray;
}

.footer-img{
  width: 480px;
  height: 110px;
}
.social-links a{
  padding: 5px;
}

.social-links img{
width: 32px;
height: 32px;

}